.info {
   border-top: 1px solid #ebebeb;
   margin-top: 136px;
   border-bottom: 1px solid #ebebeb;

   @media (max-width: 1023px) {
      margin-top: 104px;
   }

   @media (max-width: 767px) {
      margin-top: 64px;
   }

   @media (max-width: 415px) {
      margin-top: 64px;
   }

   &__content {
      display: flex;
      padding: 64px 0px;
      justify-content: space-between;

      @media (max-width: 1439px) {
         padding: 56px 0;
      }

      @media (max-width: 1023px) {
         flex-direction: column;
         padding: 32px 0;
      }
   }

   &__title {
      font-size: 44px;
      line-height: 48px;

      @media (max-width: 1439px) {
         font-size: 36px;
         line-height: 42px;
      }

      @media (max-width: 767px) {
         font-size: 32px;
         line-height: 42px;
      }

      @media (max-width: 413px) {
         font-size: 28px;
         line-height: 36px;
      }
   }
   &__left {
      width: 50%;

      @media (max-width: 1025px) {
         width: 100%;
      }
   }

   &__text {
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      margin-top: 24px;
   }

   &__buttons {
      @media (max-width: 1025px) {
         margin-top: 32px;
      }
      @media (max-width: 767px) {
         display: flex;
         flex-direction: column;
      }

      @media (max-width: 413px) {
         margin-top: 24px;
      }
   }
   &__connect {
      margin-right: 12px;

      @media (max-width: 767px) {
         margin-right: 0;
         margin-bottom: 12px;
      }
   }
}
